<h1>Welcome to my blog, friend!</h1>

<p>My name is TJ Maynes and I'm a passionate, generalist Software Engineer at <a href="https://tanzu.vmware.com/labs">VMware Tanzu Labs</a>. This blog is repository of my learnings and experiences as a software craftsperson. If you came to blog looking for a place to learn more about building mobile apps, automating the hard things, and agile software development techniques then this is the place for you!</p>

<p>You can find more about me in my <a href="/career/cv.pdf">CV</a> and <a href="/links">here</a>.</p>

<hr />

<p>Over my career I've been fortunate to work with amazing people at some amazing places.</p>

<h3>VMware Tanzu Labs</h3>

<h3>NBCUniversal</h3>

<h3><a href="https://www.rejuvenan.com/">Rejuvenan</a></h3>

<p>May of 2015 was a busy month for me. In the span of a month:</p>
<ol>
  <li>I graduated from the <a href="https://www.usf.edu/engineering/cse/">University of South Florida</a>.</li>
  <li>I accepted an offer to work at Rejuvenan Global Health.</li>
  <li>I moved from Florida to New Jersey with my future fiancée, <a href="https://embryoh.com/">Emily Baron</a>.</li>
</ol>

<p>Rejuvenan is a stealth health-tech startup in Mid-town Manhattan that specialized in creating a health plan for customers based on their blood tests and telomere science. At Rejuvenan I was the sole iOS developer of the Rejuvenan iOS app. I worked closely with fullstack Ruby on Rails team whom influenced my first foray into test-driven development and pair programming.</p>

<p>Having my first full-time job at Rejuvenan was a gift and I'll never forget the team that took a chance on me.</p>

<h3><a href="https://www.fulcrumapp.com/">Spatial Networks</a></h3>

<p>While studying for my Computer Science, I accepted a Web Developer Internship at Spatial Networks.</p>

<p>Spatial Networks is a company developing an iOS and Android app for dynamic data collection called <a href="https://www.fulcrumapp.com/company">Fulcrum</a>. At Spatial Networks I learned how to contribute to a large Ruby on Rails codebase and </p>
