/* stylelint-disable */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

@font-face {
  font-family: "Inconsolata";
  src:
    url("../font/inconsolata-regular.eot"),
    url("../font/inconsolata-regular.eot?#iefix") format("embedded-opentype"),
    url("../font/inconsolata-regular.woff") format("woff"),
    url("../font/inconsolata-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src:
    url("../font/inconsolata-bold.eot"),
    url("../font/inconsolata-bold.eot?#iefix") format("embedded-opentype"),
    url("../font/inconsolata-bold.woff") format("woff"),
    url("../font/inconsolata-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}
/* stylelint-enable */

body {
  padding: 10px 10px 30px 10px;
  font:
    16px/1.5 "Inconsolata",
    "Lucida Sans Typewriter",
    "Lucida Console",
    Monaco,
    monospace;
  color: #000;
  background-color: #e9d8a6;
  margin: 0 auto;
  max-width: 1200px;
}

body > * {
  padding: 0px;
  margin: 0px;
  font-size: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

h1,
h2 {
  line-height: 1.1;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: #005f73;
  text-decoration: none;
  font-weight: 800;
}

header {
  padding-top: 2em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.profile {
  margin-bottom: 30px;
  max-width: 150px;
  border-radius: 5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -moz-box-shadow: 0 0 3px 3px #001219;
  -webkit-box-shadow: 0 0 3px 3px #001219;
  box-shadow: 0 0 3px 3px #001219;
}

main {
  display: flex;
  justify-content: center;
}

article {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  max-width: 500px;
  padding: 1.5rem 0;

  @media (min-width: 1036px) {
    max-width: 1000px;
  }

  div {
    max-width: 500px;
    padding-bottom: 1.5rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  p,
  li {
    padding-top: 6px;
  }

  ul {
    list-style: none;
  }
}

footer {
  display: flex;
  flex-flow: column wrap;

  div {
    display: flex;
    justify-content: center;
  }

  p {
    padding: 0 10px;
    margin: 0 5px;
  }
}

.links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style-type: none;
  padding-top: 10px;

  li {
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: none;
      padding-right: 0;
    }
  }
}

.clean-list-style {
  list-style: disc;
  margin-left: 30px;
}
