@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswald/static/Oswald-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswald/static/Oswald-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/lora/static/Lora-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/lora/static/Lora-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: bold;
    font-display: swap;
}

body {
    font-family: "Lora", serif;
}

header,
footer {
    margin: 30px 0;
    text-align: center;
}

header p {
    font-size: 1.4em;
}

header span {
    font-size: 7em;
}

header h1 a, header h1 a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-family: "Oswald", serif;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    text-align: center;
}

li {
    list-style-type: disc;
}

p:last-child {
    margin-bottom: 0;
}

a,
a:hover {
    color: #0e478b;
    text-decoration: none;
}

.social li {
    padding: 0 10px;
    list-style-type: none;
}

.social li:last-child {
    padding-right: 0;
    border-right: none;
}

@media (min-width: 750px) {
    article {
        padding: 0 60px;
    }

    h2 {
        font-size: 2em;
        text-align: left;
        text-decoration: none;
    }

    .expertise {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
}