{% extends "base.html" %}

{% block title %}Blog{% endblock title %}
{% block description %}{{ "All of my blog posts in one place." | default(value=config.description) }}{% endblock description %}

{% block content %}
<section class="posts">
    <ul>
        {% set posts = get_section(path="posts/_index.md") %}
        {% for post in posts.pages %}
        <li>
            <span style="padding-right:10px;">{{ post.date | date(format="%Y %b", timezone="America/New_York") }} <a href="{{ post.permalink | safe }}">{{ post.title }}</a></span>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}