{% extends "base.html" %}

{% block content %}
<section class="post">
    <div class="post-header">
        <div class="post-header-info">
            <div>
            <h1>{{ page.title }}</h1>
            Last updated on {{ page.date | date(format="%B %d, %Y", timezone="America/New_York")  }} by <span class="author"><a href="https://www.twitter.com/{{ page.extra.author }}">@{{ page.extra.author }}</a></span>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/sharer.php?u={{ current_url }}&amp;t={{ page.title | slugify }}"
                    target="_blank"
                    class="symbol"
                    rel="nofollow">F</a>
                <a href="https://twitter.com/intent/tweet?url={{ current_url }}&amp;text={{ page.title | slugify }}&amp;via={{ page.extra.author }}&amp;related={{ page.extra.author }}" 
                    target="_blank"
                    class="symbol"
                    rel="nofollow">T</a>
            </div>
        </div>
    </div>
    <div class="content">
        {{ page.content | safe }}
    </div>
</section>
{% endblock content %}