div(class="social")
  ul
    li [
    each social_network, index in social
      if index != social.length - 1
        li #[a(href=social_network.link) #{social_network.name}],
      else
        li #[a(href=social_network.link) #{social_network.name}]
    li ]